{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" type="text/css"> 
{% endblock %}

{% block page_content %}
<div class="page-header">
</div>

<div class='row well shadow-z-4'> 
  {{ wtf.quick_form(form) }}
</div>

{% endblock %}



{% block scripts %}
 {{ super() }}
	<script tpye='text/javascript' src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}" ></script>
 {% if g.locale != 'en' %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.%s.js' % g.locale) }}" charset="UTF-8"></script>
 {% endif %}

 <script type="text/javascript">
 
 $("#date").datepicker({
    language: "{{g.locale}}"
 });
</script> 

{% endblock %}
