{% extends "base_dashboard.html" %}

{% set active_page =  _('Homeworks')  %}

{% block styles %}
{{ super() }}
 <link  href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css"  rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
 
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <!-- TABLE: LATEST ORDERS -->
              <div class="box box-info shadow-z-3">
                <div class="box-header with-border ">
                  <h3 class="box-title">{{ _('Homeworks') }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table id="table-homework" class="table table-striped">
                      <thead>
                        <tr>  
                            <th>{{ _('Date') }}</th> 
                            <th>{{ _('Homework') }}</th>
                            <th>{{ _('Subject') }}</th>   
                            <th  class="col-md-2"> {{ _('Priority') }}</th>
                            <th  class="col-md-2" ></th>  
                        </tr>
                      </thead>
                      <tbody>

                      {% for homework in homeworks %} 
                          {% if homework.completed %}   
                          <tr id="tr-completed">   
                          {% else %}                    
                          <tr>      {% endif %}
                              <td>{{ moment(homework.deadline).format('L') }}</td> 
                              <td>{{ homework.homework }} </td>
                              <td>{{ homework.subject.subject }} </td>   

                              <td>
                              {% if homework.priority== priority.LOW %}
                                <span class="label label-default">{{ _('Low') }}</span>
                              {% elif homework.priority==priority.NORMAL   %}
                                <span class="label label-success">{{ _('Normal') }}</span>  
                              {% elif homework.priority==priority.HIGH %}
                                <span class="label label-danger">{{ _('High') }}</span>
                              {% endif %}
                              </td>

                              <td> 
                              <div class='btn-group' >
                                <a class='btn btn-primary'  href="{{ url_for('main.update_homework',id=homework.id)}}"> 
                                <i {% if homework.completed %} 
                                      class='glyphicon glyphicon-remove-circle' 
                                   {% else %} 
                                      class='glyphicon glyphicon-ok-circle' 
                                   {% endif %}></i></a> 


                                <a class='btn btn-primary' href="{{ url_for('main.action_homework',id=homework.id) }}" data-toggle='modal' >         <i class='glyphicon glyphicon-pencil'></i></a>
                                <a class='btn btn-primary' href="{{ url_for('main.delete_homework',id=homework.id)}}"> <i class='glyphicon glyphicon-trash'></i> </a> 
                              </div>
                              </td>  
                          </tr>

                      {% endfor %}

                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-2"></div>
          </div><!-- /.row -->
{% endblock %} <!-- endblock page_content-->


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript">
  $(function () {
    $('#table-homework').dataTable({
      "bPaginate": true,
      "bLengthChange": false,
      "bFilter": false,
      "bSort": true,
      "bInfo": true,
      "bAutoWidth": false
    });
  });
</script>
{% endblock %}