{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">  

    <link   href="{{ url_for('static', filename='css/AdminLTE.min.css') }}"  rel="stylesheet" type="text/css" />
    <link   href="{{ url_for('static', filename='css/skin-blue.min.css') }}"  rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_attribs %} class="register-page"{% endblock %}

{% block content %}

    <div class="register-box">
      <div class="register-logo">
        <a href="../../index2.html">School <b>Pocket</b></a>
      </div>

      <div class="register-box-body">
            <h1>
               {{  _('Hello,') }} {{ current_user.username }}!
            </h1>
            <h3>{{  _('You have not confirmed your account yet.') }}</h3>
           <p>{{  _('
            Before you can access this site you need to confirm your account.
            Check your inbox, you should have received an email with a confirmation link.') }}
        </p> 
        <br />
        {{  _('Need another confirmation email?') }}
        <a href="{{ url_for('auth.resend_confirmation') }}">{{  _('Click here') }}</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
{% endblock %}